#title {
    padding-left: 20px;
    border-bottom: 1px solid grey;
}
h1 {
    margin-bottom: 0px;
    color: #212529;
}

h5 {
    margin-top: 0px;
    color: #999999;
}

#text {
    margin-left: 10px;
}
p {
    color: #212529;
}